<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ci-sandbox-rust" Manufacturer="Skylence" Version="$(var.Version)" UpgradeCode="3340FC12-0CF0-4D21-98E7-971FC1596DD5" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of ci-sandbox-rust is already installed." />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ci-sandbox-rust">
        <Component Id="MainExecutable">
          <File Id="MainExe" Source="$(var.BinPath)" KeyPath="yes" />
          <Environment Id="UpdatePath" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
